@font-face{
  font-family:'Candyhome' ;  
  src:url('/fonts/Candy.ttf'); 
  font-display : swap;
}

h1#site-title {
  font-family: 'Candyhome', sans-serif;
}
a#site-name {
  font-family: 'Candyhome', sans-serif;
}
div#footer-wrap {
  font-family: 'Candyhome', sans-serif;
}
main#content-inner {
  font-family: 'Candyhome', sans-serif;
}
div#menus {
  font-family: 'Candyhome', sans-serif;
}